.container{
    width: 100%;
    max-width: 1024px;
}
.data-table tbody tr td img{
    width: 80px;
    height: 80px;
    margin: auto;
}
.data-table thead th{
    text-align: center;
}
.data-table tbody tr td{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.addBtn{
    margin-bottom:20px;
}
